<h2>Configuración de dispositivo</h2>
<div>
    <mat-form-field>
        <mat-label for="deviceUser">Nombre de usuario</mat-label>
        <input matInput name="deviceUser" placeholder="device1" [(ngModel)]="deviceSettings.deviceUser">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="devicePassword">Contraseña de usuario</mat-label>
        <input matInput name="devicePassword" placeholder="S3cur3 P@ssw0rd" type="password" [(ngModel)]="deviceSettings.devicePassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="serverAddress">Dirección del Servidor</mat-label>
        <input matInput name="serverAddress" placeholder="http://servidor" [(ngModel)]="deviceSettings.serverAddress">
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="deviceSettings.enableFingerprint">Habilitar huella</mat-slide-toggle>
    <div *ngIf="message"></div>
</div>

<button mat-button color="primary" (click)="saveData()">Guardar</button>
<button mat-button color="primary" (click)="connect()">Conectar</button>
<a mat-button color="primary" href="#/">Control de acceso</a>