
.member-code{
    font-size: 5em;
    text-align: center;
}

.container-fingerprint{
    text-align: center;
}
.img-fingerprint{
    width: 60%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    transition: all .2s;
}

.img-fingerprint.ok{
    filter: invert(46%) sepia(100%) saturate(340%) hue-rotate(83deg) brightness(89%) contrast(105%);
}

.img-fingerprint.fail{
    filter: invert(11%) sepia(100%) saturate(6364%) hue-rotate(12deg) brightness(91%) contrast(89%);
}

mat-form-field {
    width: 100%;
}