
<mat-card>
    <mat-card-header>
        <mat-card-title>Ingresa tu número de socio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Número de socio</mat-label>
            <input id="memberInput" matInput [(ngModel)]="memberCode" autofocus (keydown.enter)="applyFilter($event)" maxlength="5" type="number">
        </mat-form-field>
        <div class="member-code" >{{memberCode}}</div>
        <div class="container-fingerprint">
            <img src="assets/img/fingerprint.png" *ngIf="isVerifyingFingerprint && deviceSettings?.enableFingerprint" class="img-fingerprint" [class.ok]="isFingerprintOK" [class.fail]="isFingerprintFail">
            <div *ngIf="member">
                <h3>¡Hola {{member.name}} {{member.last_name}}!</h3>
                <h4><strong>Vigencia: </strong>{{member.expiration | date: 'dd/MM/yyyy'}}</h4>
            </div>
            <h3>{{message}}</h3>
        </div>
    </mat-card-content>
</mat-card>