<mat-toolbar color="primary" class="mat-elevation-z2">
    <!-- <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button> -->
    <span>{{title}}</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="main-container">
  <router-outlet></router-outlet>
  <div>
    <a mat-button href="#/device-setup">Configuración de dispositivo</a>
  </div>
</div>
