<h2>Agregar huella</h2>



<p> El proceso de registro de huella necesitará que ingrese varias veces la huella de su índice de la mano derecha.</p>
<p> Cuando el sensor se ilumine de rojo ponga su dedo en el sensor por unos instantes y retirelo. 
    Repita el procedimiento hasta aque el sensor deje de iluminarse.</p>
<mat-form-field>
    <mat-label for="member-id">Número de miembro</mat-label>
    <input name="member-id" placeholder="1234" matInput [(ngModel)]="memberId">
</mat-form-field>
<p *ngIf="message">{{message}}</p>
<button mat-raised-button color="primary" (click)="verifyAndEnroll()" [disabled]="capturingFingerprint" >Continuar</button> 
<a mat-raised-button color="accent" href="#/" >Cancelar</a>